* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Sacramento', cursive;
    --body-font: 'Pinyon Script', cursive;
    --heading-background-color: gold;
    --heading-text-color: rgb(14, 14, 14);
    --primary-color: rgb(1, 3, 16);
    --secondary-color: rgb(11, 253, 100);
    --font-size-large: 24px;
}

nav {
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    color: var(--heading-text-color);
    padding: var(--padding);
    top: 0;
    left: 0;
    margin: var(--margin-standard);
}

nav a {
    color: var(--primary-color);
    display: block;
    padding: var(--padding);
}

h1 {
    background-color: var(--heading-background-color);
    font-family: var(--heading-font);
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}

main {
    width: fit-content;
    margin: var(--margin-standard);
    font-family: var(--body-font);
    margin-bottom: 15rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 150px;
}

main img {
    width: 200px;
    height: auto;
    float: right;
    border: 8px solid var(--secondary-color);
    box-shadow: 5px 10px var(--primary-color);
}

footer {
    margin-top: 15px;
    border-top: 1px dotted var(--primary-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}